<?php
	ini_set('display_errors',1);
	error_reporting(-1);
	define('DB_HOST', 'BORRAR');
    define('DB_USER', 'db_user');
    define('DB_PASSWORD', 'db_password');
    define('DB_DATABASE', 'database_name');
?>
